@keyframes menuAppear {
    from {
        top: -65px;
    }
    to {
        top: 0;
    }
}

@keyframes menuDissappear {
    from {
        opacity: 0.90;
        position: fixed;
    }
    to {
        opacity: 0;
        position: absolute;
    }
}

@keyframes displayText {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}