* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
    letter-spacing: 1.2px;
    line-height: 24px;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
    color: var(--text-color-p);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 43px;
    letter-spacing: 8px;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    margin-bottom: 0;
}

h3 {
    font-size: 16px;
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    
}

.white {
    color: var(--text-color-w);
}

.small {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 38px;
}