@import 'libs/bootstrap-reboot.min';
@import 'libs/font-awesome.min';
@import 'libs/et-line';
@import 'libs/animate.min';


:root {
    --main-color: #fc6e51;
    --active-color: #fc6e51;
    --active-color-rgba: 252, 110, 81, 0.9;
    --text-color-p: #737272;
    --text-color-h: #1f2021;
    --text-color-w: #fff;
    --text-color-b: #000;
    --black-color-rgba:	0, 0, 0, 0.8;
    --white-color-rgba:	255, 255, 255, 0.9;
    --dark-grey-color-rgba: 0, 0, 0, 0.5;
    --grey-color: #EAEAEA;
    --dark-grey-color: #8e8e8e;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.divider {
    height: 2px;
    margin: 25px auto 0;
    &_white {
        width: 50px;
        background-color: var(--text-color-w);
    }
    &_clear {
        width: 85px;
        height: 1px;
        background-color: var(--grey-color);
    }
    
}

@import 'base/text';
@import 'base/buttons';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/services';
@import 'blocks/video';
@import 'blocks/team';
@import 'blocks/skills';
@import 'blocks/banner';
@import 'blocks/mobileapp';
@import 'blocks/project';
@import 'blocks/works';

@import 'base/animations';