@import 'libs/bootstrap-reboot.min';

:root {
    --main-color: #fc6e51;
    --active-color: #fc6e51;
    --text-color-p: #737272;
    --text-color-h: #1f2021;
    --text-color-h: #fff;
    --text-color-b: #000;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

p {
    margin-bottom: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';

@import 'base/animations';