@import 'libs/bootstrap-reboot.min';

:root {
    --main-color: #fc6e51;
    --active-color: #fc6e51;
    --text-color-p: #737272;
    --text-color-h: #1f2021;
    --text-color-h: #fff;
    --text-color-b: #000;
}