.promo {
    height: 100vh;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    background-position: 0% 0;
    background-attachment: fixed;
    &:before {
        position: absolute;
        content: '';
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }
}